<!DOCTYPE html>
<html>
<head>
    <title>Classement des équipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/leaderboard.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Classement des équipes</h1>
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <div class="logo">
                <h1>Classement des équipes</h1>
            </div>
            <ul>
                <li>
                    <a class="login" href="{{ url_for('login') }}">Login</a>
                </li>
                <li>
                    {% if current_user.is_admin %}
                    <a class="create_t" href="{{ url_for('create_team') }}">Create New Team</a>
                    {% endif %}
                </li>
                <li>
                    {% if current_user.is_admin %}
                    <a class="edit_t">Edit team</a>
                    {% endif %}
                </li>
                <li>
                    {% if current_user.is_admin %}
                    <a class="logout" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header><br>
    <table>
        {% for team in teams %}
        <tr class="gestion">
            <td>
                <div class="team-name {% if team.position == 1 %}first{% elif team.position == 2 %}second{% elif team.position == 3 %}third{% endif %}">
                    {{ team.name }}
                </div>
                <img src="{{ team.image_path }}" alt="{{ team.name }}" width="50" class="img-en-grand">
                <div class="team-points">{{ team.points }}</div>
                <div class="team-position">{{ team.position }}</div>
                {% if current_user.is_admin %}
                <a class="modif" href="{{ url_for('update_points', team_id=team.id) }}">Modifier</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>    
</body>
</html>
