<!DOCTYPE html>
<html>
<head>
    <title>Mise à jour des points</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/update_points.css') }}">
</head>
<body>
    <h1>Mise à jour des points</h1>
    <form method="POST">
        <input type="hidden" id="team_id" name="team_id" value="{{ team.id }}">
        <label for="team_name">Équipe:</label>
        <span id="team_name">{{ team.name }}</span><br>
        <label for="current_points">Points actuels:</label>
        <span id="current_points">{{ team_points }}</span><br><br>
        <label for="points">Nouveaux points:</label>
        <input type="number" id="points" name="points" required><br><br>
        <input type="submit" value="Mettre à jour">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
    <a href="{{ url_for('leaderboard') }}">Back to Leaderboard</a>
</body>
</html>

