* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    width: 90%;
    height: 70px;
    background: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.logo {
    font-size: 15px;
}

nav .logo{
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 7px;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: #ecc0c0;
}

nav ul li a.login {
    background: black;
    color: #fff;
}

nav ul li a.login:hover {
    background: #4b4a4a;
}

nav ul li a.logout:hover {
    background: #df3737;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header{
        width: 90%;
        padding: 0 20px;
    }
    .logo {
        font-size: 9px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        font-size: 13px;
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger {
        display: block;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.gestion {
    display: inline;
}

.img-en-grand {
    width: 400px; 
    height: 750px;
}

.team-name {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #f6f4ffec;
    padding: 7px;
    border-radius: 7px;
}

.team-points {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 5px;
    background-color: #d1cccc;
    padding: 5px;
    border-radius: 7px;
}

.modif {
    display: block;
    color: #e7e7e7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    background-color: #df3737;
    padding: 8px;
    border-radius: 8px;
}

.modif:hover {
    background-color: #f55e5eee;
}


table {
    width: 85%;
    background-color: #000000;
    border-radius: 0 12px 10px 0;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.first {
    background-color: green;
    font-size: 30px;
}

.second {
    background-color: orange;
    font-size: 25px;
}

.third {
    background-color: red;
    font-size: 20px;
}

.first:hover {
    background-color: green;
    font-size: 35px;
}

.second:hover {
    background-color: orange;
    font-size: 30px;
}

.third:hover {
    background-color: red;
    font-size: 25px;
}
