* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    width: 90%;
    height: 70px;
    background: rgb(189, 89, 89);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.logo {
    font-size: 15px;
}

nav .logo{
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 7px;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: #ecc0c0;
}

nav ul li a.login {
    background: black;
    color: #fff;
}

nav ul li a.login:hover {
    background: #4b4a4a;
}

nav ul li a.logout:hover {
    background: #df3737;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header{
        width: 90%;
        padding: 0 20px;
    }
    .logo {
        font-size: 9px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        font-size: 13px;
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger {
        display: block;
    }
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/eos.avif');
    margin: 0;
    padding: 0;
}

.table {
    width: 75%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: 140px auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td img {
    width: 100px;
    height: 140px;
    margin-right: .5rem;
    vertical-align: middle;
}

.classement {
    font-size: 30px;
}

.t-name, .t-points{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.modif{
    background: #ca3636c7;
    color: #c2bcbc;
    font-size: 25px;
    padding: 8px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    right: 200px;
}

.modif:hover {
    background: #b63f3fa1;
}

table, th, td {
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

.background-table {
    position: relative;
    margin: 0 auto;
    opacity: 0.5;
    background-color: blue;
}

.background-table th {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
}
